ipykernel
jupyter_contrib_nbextensions
yapf
jupyter-book
cookiecutter
sphinx-copybutton
nbdime
isort
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
